body,html {
    height: 100%;
    width: 100%;
    margin:0px;
    border: 0;
}
.image {
    background-image: url(~/assets/nova.jpg) !important;
    background-position: center !important;
    background-size: 100% 100% !important;

    height: 4500px;
  }

.splash {
    width: 100%;
    position:absolute;
    z-index: -1;
}